/* product-img */
.product-img{
    width: 5rem;
    height: 7rem;
    object-fit:contain
    
}
.table td, .table th{
    vertical-align: middle;
}

.product{
    background-color:#f9f9f9;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

/* product-bill */
.product-bill{
    background-color:#f9f9f9;
    margin-left: 1rem;
    padding: 1rem 0;
}
/* .header{
    padding: 2rem;
} */

/* button */
.button-cart{
    height: 3rem;
}

/* bill */
.bill-pay{
    padding:1rem 0;
    display:flex;
    justify-content:space-around
}
.bill-pay>.btn-bill-pay{
     border:1px solid rgba(151, 150, 150, 0.442);
     background-color:#f9f9f9;
     font-size:1rem;
     padding: .5rem;
     font-weight:bold
}

.bill-pay>.btn-bill-pay.active{
    border:3px solid black;
  
}